---
layout: post
title: Tags
---

<section class="tag-list">
    {% assign sorted_tags = site.tags | sort %}
    {% for tag in sorted_tags  %}
    <h2 class="title" id="{{ tag[0] | slugify }}">#{{ tag[0] }}</h2>

    <ul class="list">
        {% assign pages_list = tag[1] %}
        {% for post in pages_list %}
        <li>
            <a class="black-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
        </li>
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}
    </ul>

    <div class="breaker"></div>
    {% endfor %}
</section>
