
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 3420ms!important;
  transition-delay: 0!important;
}

.ghost {
    // margin: auto auto;
    animation: float 3s ease-out infinite;
}

@keyframes float {
    50% {
        transform: translate(0, 20px);
    }
}

.shadowFrame {
    // width: 130px;
    margin-top: 15px;
}

.shadow {
    animation: shrink 3s ease-out infinite;
    transform-origin: center center;

    ellipse {
        transform-origin: center center;
    }
}

@keyframes shrink {
    0% {
        width: 90%;
        margin: 0 5%;
    }

    50% {
        width: 60%;
        margin: 0 18%;
    }

    100% {
        width: 90%;
        margin: 0 5%;
    }
}