/**
  * Code formatting
  * ``` -> pre
  * ` -> code
  */

pre,
code {
    border: 2px solid var(--text-color);
    border-radius: 6px;
    background-color: var(--background-color-lighten-9);

}

code {
    @include relative-font-size(0.9);
    color: $notion-red;
    border: 1px solid var(--text-color);
    border-radius: 3px;
    background-color: var(--background-color-lighten-9);
    padding: 1px 1px;
}

pre {
    // padding: 2px 2px;
    overflow-x: auto;
    border-radius: 6px;

    >code {
        @include relative-font-size(0.9);
        display: block;
        padding-right: 0;
        padding-left: 0;
        padding: 10px;
        color: var(--text-color);
        background-color: var(--background-color-lighten-9);
        border: 0px solid var(--text-color);

    }
}