.primary_container .home-icon {
    display: none;
}

.navbar-container {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    display: -webkit-flexbox;
    background-color: var(--background-color);
    justify-content: center;
    z-index: 10;
}


// Mobile first
// .navbar home-icon{
// }
.navbar {
    width: auto;
}

.navbar a {
    float: left;
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: var(--text-color);
    color: black;
}

.navbar a.active {
    background-color: #04AA6D;
    color: var(--text-color);
}


.navbar a.nav_desktop {
    display: none;
}

.align_menu {
    display: flex;
    justify-content: center;
}

@media (min-width: 600px) {

    // Desktop
    // .navbar home-icon{

    // }   
    .primary_container .home-icon {
        position: absolute;
        padding: 4px 16px;
        display: flex;
        display: -webkit-flexbox;
    }

    .primary_container .home-icon{
    fill:var(--text-color);
    }

    .primary_container .home-icon:hover,
    .primary_container .home-icon:focus {
            fill:var(--brand-color);

    }

    .align_menu {
        flex-grow: 1;

        display: flex;
        // justify-content: right;
        justify-content: flex-end;
        align-items: flex-end;
        display: -webkit-flexbox;
        -webkit-justify-content: flex-end;
        -webkit-align-items: flex-end;

    }

    .navbar {    flex-grow: 1;
}

    .navbar a {
        float: left;
        display: block;
        color: var(--text-color);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .navbar a:hover {
        background: var(--background-color-lighten-9);
        color: var(--text-color);
    }

    .navbar a.active {
       background: var(--background-color-lighten-9);
        color: var(--text-color);
    }

    .navbar-container {
        position: static;
        width: 100%;
        background-color: var(--background-color);
        display: flex;
        display: -webkit-flexbox;
        justify-content: flex-end;
    }

    .navbar a.nav_desktop {
        display: block;
    }
}