<!-- <footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <div class="wrapper">
      <div class="footer-col-wrapper">
        <div class="footer-col">
          <ul class="contact-list">
            <li class="p-name">
              {%- if site.author -%}
                <a class="black-link" href="{{ site.url }}/about.html">
                  {{ site.author | escape }} 
                </a>
              {%- endif -%}
              </li>
              {%- if site.email -%}
              <li>
              <a class="u-email black-link" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
              {%- endif -%}
          </ul>
        </div>
      </div>
    </div>
</footer> -->
<div style="min-height: 500px;background-color: #000; width:100%">
    <div class="primary_container">
        <div style="flex: 50%; ">
            <p style="font-family:Montserrat; color:#fff; font-weight:700; margin-top: 50px;">ABHI GUPTA</p>
        </div>
        <div style="flex: 25%;">
            <p style="font-family:Montserrat; color:#fff; font-weight:700; margin-top: 50px;">Resources</p>
            <p><a href="https:\\" class="hover_highlight" style="color:#ddd;">Tools</a></p>
            <p><a href="https:\\" class="hover_highlight" style="color:#ddd;">Books</a></p>
            <p><a href="https:\\" class="hover_highlight" style="color:#ddd;">Courses</a></p>
        </div>
        <div style="flex: 25%; ">
            <p style="font-family:Montserrat; color:#fff; font-weight:700; margin-top: 50px;">Categories</p>
            <p><a href="https:\\" class="hover_highlight" style="color:#ddd;">Finite Element</a></p>
            <p><a href="https:\\" class="hover_highlight" style="color:#ddd;">Python</a></p>
            <p><a href="https:\\" class="hover_highlight" style="color:#ddd;">Animation</a></p>
        </div>
    </div>
</div>
<div class="footer-links">
    {%- include social.html -%}
</div>