<div class="navbar-container">
    <div class="primary_container align_menu">
        <div class="navbar">
            <a class="link" href="{{ site.url }}/tags">Tags</a>
            <a class="link" href="{{ site.url }}/projects">Projects</a>
            <a class="link" href="https://computationalmechanics.in/resources/" target="_blank">Resources</a>
            <a class="link nav_desktop" href="{{ site.url }}/newsletters">Newsletter</a>
            <a class="link" href="{{ site.url }}/about">About</a>
            <!-- <li><a class="link" href="https://computationalmechanics.in/author/iitrabhi/" target="_blank">Lab</a></li> -->
        </div>
    </div>
</div>