<div >
<nav>
    <div style="width:100%;text-align: right;">
        <ul>
            <li><a class="link" href="{{ site.url }}/tags">Tags</a></li>
            <li><a class="link" href="{{ site.url }}/projects">Projects</a></li>
            <li><a class="link" href="{{ site.url }}/about">About</a></li>
            <li><a class="link" href="https://computationalmechanics.in/resources/" target="_blank">Resources</a></li>
            <!-- <li><a class="link" href="https://computationalmechanics.in/author/iitrabhi/" target="_blank">Lab</a></li> -->
        </ul>
    </div>
</nav>
</div>