@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Bitter",
"Bitter",
sans-serif;
$base-font-size: 16px !default;
$base-font-weight: 500 !default;
$small-font-size: $base-font-size * 0.85 !default;
$base-line-height: 1.625 !default;
$small-line-height: 1.6 !default;

$content-width-home: 1200px !default $spacing-unit: 30px !default;
// Width of the content area
$content-width: 880px !default;


html[data-theme="dark"] {
    --text-color: #ffffff;
    --background-color: #202a38;
    --background-color-2: #243040;
    --background-color-lighten-9: #161b22;
    --brand-color: #f9ae58;
}

html,
html[data-theme="light"] {
    --text-color: #303030;
    --background-color: #ffffff;
    --background-color-2: #F1EEE5;
    --background-color-lighten-9: #E4DECC;
    --brand-color: #2a7ae2;

}

@media (prefers-color-scheme: dark) {

    html,
    html[data-theme="dark"] {
        --text-color: #ffffff;
        --background-color: #202a38;
        --background-color-2: #243040;

        --background-color-lighten-9: #161b22;
        --brand-color: #f9ae58;
    }

    html[data-theme="light"] {
        --text-color: #303030;
        --background-color: #ffffff;
        --background-color-2: #F1EEE5;

        --background-color-lighten-9: #E4DECC;
        --brand-color: #2a7ae2;
    }
}


$code-background: #161b22;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;
$orange-color: #f66a0a !default;
$table-text-align: left !default;
$notion-red: #cf4d45;


$on-medium: 600px !default;
$on-large: 900px !default;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin relative-font-size($ratio) {
    font-size: $base-font-size * $ratio;
}

// Import partials.
@import "moving/base", "moving/1_home", "moving/2_posts", "moving/layout", "moving/cards", "moving/button", "moving/anim", "moving/mariana", "moving/code", "moving/main_menu", "moving/footer", "moving/form", "moving/text";