@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Bitter", "Bitter", sans-serif;
$base-font-size: 18px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.85 !default;
$base-line-height: 1.625 !default;
$small-line-height: 1.6 !default;

$content-width-home: 1200px !default;
$spacing-unit: 30px !default;
// Width of the content area
$content-width: 880px !default;
$invert:alpha(#fff);


html,
html[data-theme="dark"] {
    --text-color: #dadada;
    --text-color-2: #ffffff;
    --background-color: #202a38;

    --color-1: #314055;
    --color-2: #161b22;

    --brand-color: #f9ae58;
    --shadow-color: rgba(255, 255, 255, 0.2);
    --invert-intensity: invert(1);
}

html[data-theme="light"] {
    --text-color: #3b3b3b;
    --text-color-2: #303030;
    --background-color: #ffffff;

    --color-1: #e5f1ee;
    --color-2: #A4CEC3;

    --brand-color: #81acbb;
    --shadow-color: rgba(249, 174, 88, 0.2);
    --invert-intensity: invert(0);
}

@media (prefers-color-scheme: dark) {

    html,
    html[data-theme="dark"] {
        --text-color: #dadada;
        --text-color-2: #ffffff;
        --background-color: #202a38;

        --color-1: #314055;
        --color-2: #161b22;

        --brand-color: #f9ae58;
        --shadow-color: rgba(255, 255, 255, 0.2);
        --invert-intensity: invert(1);
    }

    html[data-theme="light"] {
        --text-color: #3b3b3b;
        --text-color-2: #303030;
        --background-color: #ffffff;

        --color-1: #e5f1ee;
        --color-2: #A4CEC3;

        --brand-color: #81acbb;
        --shadow-color: rgba(249, 174, 88, 0.2);
        --invert-intensity: invert(0);
    }
}


$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;
$orange-color: #f66a0a !default;
$table-text-align: left !default;
$notion-red: #cf4d45;


$on-medium: 600px !default;
$on-large: 900px !default;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin relative-font-size($ratio) {
    font-size: $base-font-size * $ratio;
}

// Import partials.
@import "moving/base", "moving/1_home", "moving/2_posts", "moving/layout", "moving/cards", "moving/button", "moving/anim", "moving/mariana", "moving/code", "moving/main_menu", "moving/footer", "moving/form", "moving/text";