@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Bitter", "Bitter", sans-serif;
$base-font-size: 20px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.85 !default;
$base-line-height: 1.625 !default;
$small-line-height: 1.6 !default;
$spacing-unit: 30px !default;




html, html[data-theme="light"] {
  --text-color: #303030;
  --background-color: #ebebeb;
  --background-color-lighten-9: #ffffff;
  --brand-color: #2a7ae2;

}

html[data-theme="dark"] {
  --text-color: #ffffff;
  --background-color: #0D1117;
  --background-color-lighten-9: #161b22;
  --brand-color: #f9ae58;
}


@media (prefers-color-scheme: dark) {
    html, html[data-theme="dark"] {
      --text-color: #ffffff;
      --background-color: #0D1117;
      --background-color-lighten-9: #161b22;
      --brand-color: #f9ae58;
    }

    html[data-theme="light"] {
      --text-color: #303030;
      --background-color: #ebebeb;
      --background-color-lighten-9: #ffffff;
      --brand-color: #2a7ae2;
  } 
}




// Light mode
// var(--text-color): #303030 !default;
// var(--baackground-color): #ebebeb !default;
// var(--brand-color): #2a7ae2 !default;

// Dark Mode
// var(--text-color): #fff !default;
// var(--baackground-color): #242932 !default;
// var(--brand-color): #f9ae58 !default;


$code-background: #161b22;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;
$orange-color: #f66a0a !default;
$table-text-align: left !default;

//New colors
$notion-red: #cf4d45;

// Width of the content area
$content-width: 880px !default;

$on-palm: 600px !default;
$on-laptop: 880px !default;

$on-medium: $on-palm !default;
$on-large: $on-laptop !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import "moving/base", "moving/layout", "moving/cards", "moving/button", "moving/anim", "moving/code", "moving/main_menu", "moving/footer", "moving/form";
