:root {
    --input-color: #fff;

    --input-background: var(--background-color-lighten-9);
    --input-placeholder: #828282;
    --input-border-focus: #f9ae58;
    --group-color: var(--input-color);

    --input-border: #fff;
    --group-border: var(--input-border);

    --group-background: #EEF4FF;
    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #f9ae58;
}

.form-field {
    display: block;
    /*min-width: 360px;*/
    max-width: 360px;

    /*width: 100%;*/
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border 0.3s ease;
}

.form-field::-moz-placeholder {
    color: var(--input-placeholder);
}

.form-field:-ms-input-placeholder {
    color: var(--input-placeholder);
}

.form-field::placeholder {
    color: var(--input-placeholder);
}

.form-field:focus {
    outline: none;
    border-color: var(--input-border-focus);
}

.form-group {
    position: relative;
    display: flex;
    width: 100%;
}


/* .form-group>span,
.form-group .form-field {
    white-space: nowrap;
    display: block;
}

.form-group>span:not(:first-child):not(:last-child),
.form-group .form-field:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.form-group>span:first-child,
.form-group .form-field:first-child {
    border-radius: 6px 6px 6px 6px;
}

.form-group>span:last-child,
.form-group .form-field:last-child {
    border-radius: 6px 6px 6px 6px;
}

.form-group>span:not(:first-child),
.form-group .form-field:not(:first-child) {
    margin-left: -1px;
} */

.form-group .form-field {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
}

.form-group>span {
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    color: var(--group-color);
    background: var(--group-background);
    border: 1px solid var(--group-border);
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.form-group:focus-within>span {
    color: var(--group-color-focus);
    background: var(--group-background-focus);
    border-color: var(--group-border-focus);
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}


/* * {
    box-sizing: inherit;
}

*:before,
*:after {
    box-sizing: inherit;
} */

/*body {
    min-height: 100vh;
    font-family: "Mukta Malar", Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #F5F9FF;
}*/

/*body .form-group {
    max-width: 360px;
}*/

body .form-group:not(:last-child) {
    margin-bottom: 32px;
}

/*@media only screen and (max-width: 600px) {
.form-field {
    display: block;
min-width: 100px;
    width: 100%;*/}*/
}