---
layout: default
---

<div class="about-page">
  <head>
    <title>{{ site.author }}</title>
  </head>

   <nav>
    <div style="width:100%;text-align: right;">
    <ul>
      <li><a class="link" href="{{ site.url }}/tags">Tags</a></li>
      <li><a class="link" href="{{ site.url }}/projects">Projects</a></li>
      <li><a class="link" href="{{ site.url }}/about">About</a></li>
      <li><a class="link" href="https://computationalmechanics.in/author/iitrabhi/">Lab</a></li>
    </ul>
    </div>
  </nav>
  
  <div class="post-back">
    <a class="black-link" href="{{ site.url | relative_url }}"> ← {{ site.moving.back_to }} </a>
  </div>
  <div class="about-header">
    {%- if site.moving.avatar_url -%}
    <img class="about-avatar" src="{{ site.moving.avatar_url }}" />
    {%- endif -%} {%- if site.author -%}
    <div class="about-info">
      <div class="about-your-name">
        {{ site.author | escape }}
      </div>
      {%- endif -%} {%- if site.moving.about_you -%}
      <p class="about-description">
        {{ site.moving.about_you | escape }}
      </p>
      {%- endif -%} {%- include social.html -%}
    </div>
  </div>

  <div class="about-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
</div>
