<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}

<body class="full_width_container">
    {%- include main-menu.html -%}
    <main aria-label="Content">
        <div>
            {{ content }}
        </div>
    </main>
    {%- include footer.html -%}

    <script src="{{ base.url | prepend: site.url }}/assets/js/mode_switcher.js" type="text/javascript"></script>
    <script src="{{ base.url | prepend: site.url }}/assets/js/code_block.js" type="text/javascript"></script>
</body>

</html>