---
layout: default
---
<div>

    <head>
        <title>{{ site.title }}</title>
    </head>
    <div class="flexbox_container_two_col flexbox_container_flip" style="margin-top: 50px;">
        <div class="flexbox_item">
            <div>
                <p style="font-size:30px; font-family: Montserrat;">Hi, I am Abhi Gupta</p>
                <p style="font-size:36px; font-family: Montserrat; font-weight: bold; line-height: 1; ">I am a professional CAE engineer with doctorate in computational mechanics.</p>

                <p style="font-size:21px; padding-top: 20px; padding-bottom: 30px;">Since 2017, I have worked on developing HPC algorithms for simulation as a part of my doctoral studies. On this website you will find a culmination of ideas and notes on productivity, research, simulation and animation. </p>
                <a class="button button-hello" href="{{page.next.url}}" title="Say Hello!">Say Hello!</a>
            </div>
        </div>
        <div class="flexbox_item">
            <img src="{{ site.url }}/assets/images/abhi-sketch.png" style="max-width: 250px;" />
        </div>
    </div>
    <!-- ------------------------------------------------------------------- -->
    <!-- hr style="margin-top: 0px;">
    <div>
        <blockquote>
            It doesn't matter how beautiful your theory is, it doesn't matter how smart you are. If it doesn't agree with experiment, it's wrong.
        </blockquote>
        <cite><a href="https://www.youtube.com/watch?v=LIxvQMhttq4">Richard P. Feynman</a></cite>
    </div> -->
    <!-- ------------------------------------------------------------------- -->
    <!-- <div class="flexbox_container_two_col">
        <div class="flexbox_container_two_col">
            <div style="flex:35%; padding: 30px;">
                <img src="{{ site.url }}/assets/images/abhi-3.jpg" style="flex: 1;" />
            </div>
            <div style="flex:65%; padding: 30px;">
                <h2 style="font-size:30px; ">computational.</h2>
                <p>I have worked as a professional CAE engineer for five years at the department of atomic energy. </p>
            </div>
        </div>
        <div class="flexbox_container_two_col">
            <div style="flex:35%; padding: 30px;">
                <img src="{{ site.url }}/assets/images/abhi-3.jpg" style="flex: 1;" />
            </div>
            <div style="flex:65%; padding: 30px;">
                <h2 style="font-size:30px; ">CAE engineer</h2>
                <p>I have worked as a professional CAE engineer for five years at the department of atomic energy. </p>
            </div>
        </div>
    </div>
    <div class="flexbox_container_two_col">
        <div style="margin-top: 0px; flex: 1; ">
            <hr>
        </div>
        <div style="margin-top: 0px;flex: 1;">
            <hr>
        </div>
    </div>
    <div class="flexbox_container_two_col">
        <div class="flexbox_container_two_col">
            <div style="flex:35%; padding: 30px;">
                <img src="{{ site.url }}/assets/images/abhi-3.jpg" style="flex: 1;" />
            </div>
            <div style="flex:65%; padding: 30px;">
                <h2 style="font-size:30px; ">mechanics.</h2>
                <p>I have worked as a professional CAE engineer for five years at the department of atomic energy. </p>
            </div>
        </div>
        <div class="flexbox_container_two_col">
            <div style="flex:35%; padding: 30px;">
                <img src="{{ site.url }}/assets/images/abhi-3.jpg" style="flex: 1;" />
            </div>
            <div style="flex:65%; padding: 30px;">
                <h2 style="font-size:30px; ">professional</h2>
                <p>I have worked as a professional CAE engineer for five years at the department of atomic energy. </p>
            </div>
        </div> -->
    <!-- </div> -->
</div>